body
{
    background-color: dimgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#Contenido
{
    width: 900px;
    height: 1000px;
    margin: 0 auto;
    text-align: center;
}
h1
{
    color: rgb(48, 48, 49);
}

nav ul li
{
    display:inline-block;
    margin-right: 40px;
    color:#1d1d1d;
    cursor: pointer;
    
}

#TextPrincipal
{
    width: 900px;
    height: 400px;
    background-color: #BDBDBD;
    color:rgb(105, 105, 105);
    text-align: center;
    margin:0 auto;
    text-align: left;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

#Proyectos
{
    width: 900px;
    height: 400px;
    background-color: #A4A4A4;
    color:rgb(105, 105, 105);
    text-align: center;
    text-align: left;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5); 
    margin:0 auto;
    margin-top: 40px;
}
#hobbies
{
    width: 900px;
    height: 400px;
    background-color: #A4A4A4;
    color:rgb(105, 105, 105);
    text-align: center;
    text-align: left;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5); 
    margin:0 auto;
    margin-top: 40px;
    
}
a
{
    color:rgb(12, 11, 11);
    font-weight: bold;
    
}
img
{
    border-radius: 30px;
    margin-right: 20px;

}
h2
{
    text-align: center;
    color: rgb(48, 48, 49);
}
footer
{
    margin-top: 520px;
    text-align: end;
    text-align: center;
    color: rgb(48, 53, 58);
}